!!! 1.1
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Rails Searchable API Doc
    %script{ :type => "text/javascript", :charset => "utf-8" }
      :plain
        (function() {
          var id = '';
          if (navigator.platform.indexOf('Mac') != -1) {
            id = "mac";
          } else {
            if (navigator.userAgent.indexOf('Chrome') != -1) {
              id = "win-chrome";
            } else {
              id = "win";
            }
          }
          document.documentElement.id = id;
        })();
    %script{ :src => "js/jquery-1.3.2.min.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "js/selector.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :type => "text/javascript", :charset => "utf-8" }= version_script
    %script{ :type => "text/javascript", :charset => "utf-8" }
      $(function() {
      $('#versions').versionSelector(versions, sizes);
      })
    %link{ :href => "css/reset.css", :title => "no title", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
    %link{ :href => "css/master.css", :title => "no title", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
  %body
    .body
      %h1
        Rails <b>S</b>ea<b>rch</b>able API Doc
        %sup
          beta :)
      %p.slogan
        Smart search,  beautifully packed
      #versions.versions<>
        .presets<>
          %span.preset.preset_rails.preset_selected
            %span<>= "Rails #{rails_version}"
          or
          %span.preset.preset_ruby
            %span<>= "Rails #{rails_version} + Ruby #{ruby_version}"
          or
          %span.preset
            %span<> build your custom package
      .actions
        .links
          %a{ :href => "http://github.com/Sology/railsapi.com/" } Code on GitHub
          %br
        .download
          %a#download{ :href => "/doc/rails-#{rails_version}/rdoc.zip" } Download
          %img{ :src => "i/download.png", :height => "17", :width => "17" }
          %p#size= "Zip, #{rails_size}"
        .browse
          %a#browse{ :href => "/doc/rails-#{rails_version}/" } Browse online
      .copy
        \&copy; 2009
        %a{ :href => "http://github.com/voloko" } Vladimir Kolesnikov
        ,
        %a{ :href => "http://github.com/ndbroadbent" } Nathan Broadbent
        |
        %span
          %a{ :href => "http://sology.eu" }
            Powered by Sology
    .build-message{ :style => "display:none" }
      .bg
      .content
        %h1 Your package is being merged
        %p Please be patient. It usually does not take longer than 30 seconds.
    %script{ :type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ :type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-32675804-8");
      pageTracker._trackPageview();
      } catch(err) {}
